{% extends 'frontend/base.html' %}
{% load static %}

{% block style %}
<title>Summary</title>
{% endblock %}


{% block content %}
<h1 class='summary__header'>Summary</h1>

<div class="data-line header">
    <h2 class="header__date">Start Date : End Date</h2>
    <h2 class="header__humadity">Humadity</h2>
    <h2 class="header__temp">Temperature</h2>
    <h2 class="header__delete">Delete</h2>
</div>
{% for i in summary_list %}

<div class="data-line">
    <h2>{{i.2.0|date:"d-m-Y"}} : {{i.2.1|date:"d-m-Y"}}</h2>
    <h2>{{i.0|floatformat}}</h2>
    <h2>{{i.1|floatformat}}</h2>


    <button id='delete-{{i.3.0}}' class="data-line__delete" type="submit" value="{{i.3}}">
        <h2 style="color: red;">Delete</h2>
    </button>
</div>
{%endfor%}
{% endblock %}


{% block javascript %}

<script>
    const api_url = "{% url 'frontend:weather-summary'%}"
</script>

{% for i in summary_list %}
<script>
    document.getElementById('delete-{{i.3.0}}').addEventListener("click", () => {
        if (confirm(
                "Are you sure you want to delete records from {{i.2.0|date:'d-m-Y'}} to {{i.2.1|date:'d-m-Y'}}"
                )) {
            var id = document.getElementById('delete-{{i.3.0}}').value;
            console.log(JSON.stringify(id))
            fetch(api_url , {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                },
                body: [JSON.stringify(id)],
                redirect: 'follow'
            }).then((resp) => {
                location.reload();
            })
        }
    });
</script>
{%endfor%}


<script src='{% static "/js/weather_chunk_delete.js" %}'></script>
{% endblock %}