.weather-form {
    position: absolute;
    right: 50%;
    top: 10%;
    display: flex;
    transform: translateX(50%);
    flex-direction: column;
    align-items: center;

    input, p {
        width: 100%;
    }

    &__sumbit {
        @extend .button;
        background-color: #c2ebf491;
        border: none;
        box-shadow: 0 0 5px #0000001f;
        margin: 1rem;
        margin-top: 2rem;
        width: 50% !important;
        font-size: 1.2rem;
        outline: none;
        transition: all 0.5s;
    }
}

@media only screen and (max-width: 800px) {
    .weather-form {
    right: 0;
    transform: translateX(0);
    width: 95%;
    }
}